@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Olá!</h1>
    <p>Seja Bem-vindo à nossa Biblioteca Online!</p>
    
</div>
<div class="containero">
    <a href="https://youtu.be/EKavesLX3WM?si=3Lei3UDmPToKKABH" target="_blank">
        <img src="~/css/download.jpg" class="my-image">
    </a>
 
</div>